body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: black;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
* {
	box-sizing: border-box;
}
.header {
	border: 1px solid black;
	background-color: #829991;
}
.main {
	border: 1px solid black;
	background-color: #829985;
}
.footer {
	border: 1px solid black;
	background-color: #829991;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}
.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
html {
	scroll-behavior: smooth;
	overflow-anchor: none;
}
.nav-link {
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
	color: black;
	font-size: 32px;
	transition: .3s;
}
a:hover {
	background: #8e8675;
	color: black;
  }
li.pointer {
	cursor: pointer;
}
.main-container {
	display: flex;
	flex-wrap: wrap;
}
.section {
	width: 50%;
	border: 1px solid black;
	background-color: #8e8675;
	margin: 20px 150px;
	padding: 20px;
	margin-left: auto;
    margin-right: auto;
	}
@media (max-width: 768px) {
	.section {
	  width: 100%;
	}
  }
.section-title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    color: black;
	text-align: center;
}
.photo{
	width: 200px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.container-footer {
	display: flex;
    justify-content: center;
    align-items: center;
	gap: 150px;
}
.logoRS {
	width: 112px;
    height: 40px;
    background-size: cover;
}
